h4, h3, p, a, h5 {
	color:green;
	text-align:center;
}
p.ikw, p.ikw2 {
	background-color:gray;
	text-align:center;
}
.ikw2 {
	background-color:gray;
	text-align:center;
}


h3#ikw3, h3#ikw5 {
	background-color:brown;
	text-align:right;
}